{%  extends "base.html" %}
{% block title  %}Reset your password {% endblock  %}
{% block content  %} 
    <h1>Reset your password </h1> 
    {% if validlink   %}
     <p>Please enter your  new password twice </p>
     <form method ="post">
       {{ form.as_p}}
      {% comment %}Renders django form as a paragraph  {% endcomment %}
      {%  csrf_token %}
      {% comment %}prevent crossite forgeries {% endcomment %}
      <p><input type="submit" value="Change my password"/></p>
     </form>
     {% else  %}
       <p>The password reset link was invalid, possibly  because it has already been used.Please request a new password reset.</p>
       {% endif  %}
       {% endblock %} 


       {% comment %} we confirm whether the link for resetting the password is valid by checking the validlink variable {% endcomment %}
       {% comment %} The view password_reset_confirm checks the validity of token  provided  in URL and passes   validlink variable to template {% endcomment %}